@font-face {
  font-family: 'PressStart2P';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url(./PressStart2P-Regular.woff) format(woff);
}

@font-face {
  font-family: 'Inter-Flex-Variable';
  font-display: swap;
  font-weight: 400 785;
  font-slant: -10% 0%;
  src:
    local('Inter-Flex-Variable'),
    url(./Inter-Variable.woff2) format(woff2);
}