:root {
  --text-font: 'Inter-Flex-Variable';
  --text-wght: 410;
  --text-slnt: 0;
  --accent-font: 'PressStart2P';
  --accent-wght: 400;
  --title-wght: 715;
  --width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --border-content: 2px solid currentColor;
  --header-padding: clamp(7.5rem, 7.2799rem + 0.939vw, 8.125rem);
  --color: #FFF;
  --floppy-color: #000;
  --hover-fill-color: #000;
  --button-before-color: #000;
  --text-stroke: 1px var(--color);
  --contour-color: #000;
  --animation-fill-color: #FF0000;
  --img-filter-card-interest: saturate(0.2) contrast(0.9) brightness(1.1);
  --img-filter-card-inspiration: saturate(2.5) contrast(0.8);
  --img-filter-card-joy: hue-rotate(45deg);
  --img-filter-card-dialogue: invert(1) brightness(1.1) contrast(0.5);
  --img-filter-card-adapt: sepia(0.9);
  --img-filter-card-shock: blur(10px) contrast(0.9) brightness(0.9);
  --img-filter-card-overkill: hue-rotate(90deg) grayscale(0.1) saturate(1.5) contrast(0.5) blur(2px);
  --size-img-width: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  --size-img-height: clamp(23.1875rem, 15.9472rem + 30.892vw, 43.75rem);
}